body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
#counter {
    font-size: 2em;
    margin: 20px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
}
.dark-mode {
    background-color: #333;
    color: #f1f1f1;
}